@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.mainContainer {
  @include flexCenter;
  position: relative;
  flex-direction: column;
}

.secondaryContainer {
  @include flexCenter;
  flex-direction: column;
  width: 140rem;

  h1 {
    font-size: $font-main;
    color: $color-tertiary;
    margin-top: 2rem;
  }

  h2 {
    font-size: $font-secondary;
    margin-top: 1rem;
  }

  p {
    @include flexCenter;
    flex-direction: column;
    font-size: $font-secondary;
    border: 0.1rem outset $color-quaternary;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: $color-secondary;
    color: $color-tertiary;
  }

  button {
    position: relative;
    top: 1rem;
    left: -62.6rem;
    font-size: $font-tertiary;
    font-family: "Creepster", cursive;
    width: 15rem;
    height: 4rem;
    background-color: $color-secondary;
    border-radius: 0.3rem;
    color: $color-main;

    &:hover {
      @include buttonHover($color-main);
      color: $color-secondary;
      cursor: pointer;
    }
    @include note() {
      position: relative;
      left: 1rem;
    }

    @include pad() {
      position: relative;
      left: 0.1rem;
      width: 10rem;
    }
    @include mobile() {
      position: relative;
      left: 0.1rem;
      width: 10rem;
    }
  }
}

@include note() {
  .secondaryContainer {
    position: relative;
    @include flexCenter;
    flex-direction: column;
    width: 100rem;
    right: 0.5rem;
    margin-top: 10rem;
  }
}
@include pad() {
  .secondaryContainer {
    position: relative;
    @include flexCenter;
    flex-direction: column;
    width: 70rem;
    margin-top: 10rem;
  }
}

@include mobile() {
  .secondaryContainer {
    position: relative;
    @include flexCenter;
    flex-direction: column;
    width: 35rem;
    margin-left: 1rem;
    margin-top: 10rem;
  }
}

@include mobileSamsung() {
  .secondaryContainer {
    position: relative;
    @include flexCenter;
    flex-direction: column;
    width: 34rem;
    margin-right: 3rem;
    margin-top: 10rem;
  }
}
