@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.nav {
  @include flexCenter;
  gap: 30rem;
  font-size: 4rem;
  border-bottom: 0.1rem inset $color-main;
  background-color: $color-secondary;
}

.link {
  padding: 1rem;

  &:hover {
    @include buttonHover($color-main);
  }
}
