@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.nav {
  @include flexCenter;
  font-size: $font-main;
  width: 100%;
  border-bottom: 0.1rem inset $color-main;
  background-color: $color-secondary;
}

.link {
  padding: 1rem;
  margin-right: 1rem;
  font-size: $font-secondary;

  &:hover {
    @include buttonHover($color-main);
  }
}

.link2 {
  position: relative;
  bottom: 0.1rem;
  padding: 1rem;
  margin-right: 1rem;
  font-size: $font-secondary;

  &:hover {
    @include buttonHover($color-main);
  }
}

.mainDiv {
  position: relative;
  @include flexCenter;
  width: inherit;
  left: 1rem;
  gap: 8rem;
}

@include note() {
  .mainDiv {
    @include flexCenter;
    position: relative;
  }
  .link2 {
    position: relative;
    right: 1rem;
  }
}

@include mobile() {
  .mainDiv {
    position: relative;
    left: 0.1rem;
  }

  .secondDiv {
    position: relative;
    bottom: 10rem;
  }

  .mainLogo {
    position: relative;
    bottom: 5rem;
  }
}

@include pad() {
  .mainDiv {
    height: 35rem;
  }
  .link2 {
    position: relative;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }
}
