@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.nav {
  @include flexCenter;
  position: relative;
  font-size: $font-main;
  width: 100%;
  border-bottom: 0.1rem inset $color-main;
  background-color: $color-secondary;
}

.link {
  padding: 1rem;
  margin-right: 1rem;
  font-size: $font-secondary;

  &:hover {
    @include buttonHover($color-main);
  }
}

.gtLogo {
  @include flexCenter;
}

.singout {
  font-size: $font-tertiary;
  text-align: center;
  width: 7rem;

  &:hover {
    @include buttonHover($color-tertiary);
  }
}

.mainDiv {
  position: relative;
  @include flexCenter;
  width: inherit;
  left: -15rem;
  gap: 8rem;
}

.secondayDiv {
  position: absolute;
  right: 27rem;
  font-size: $font-secondary;
  @include mobile() {
    right: 8rem;
    font-size: $font-tertiary;
  }
}

@include mobile() {
  .mainDiv {
    position: relative;
    left: 0.1rem;
  }

  .logo,
  .gtLogo {
    position: relative;
    right: 9rem;

    font-size: $font-tertiary;
  }
}

@include pad() {
  .mainDiv {
    position: relative;
    left: 0.1rem;
  }

  .logo,
  .gtLogo {
    position: relative;
    top: 10rem;

    font-size: $font-tertiary;
    border: 0.5rem outset $color-secondary;
    background-color: $color-secondary;
  }
}

@include note() {
  .secondayDiv {
    @include mobile() {
      position: relative;
      left: 10rem;
      bottom: 3rem;
      font-size: $font-tertiary;
    }
  }
}
