@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.hero {
  @include flexCenter;
  flex-direction: column;
  font-size: $font-main;
  margin-top: 10rem;

  @include mobile() {
    h1 {
      width: 20rem;
      font-size: $font-secondary;
    }
    h2 {
      width: 40rem;
      font-size: $font-secondary;
    }

    h4 {
      width: 40rem;
      font-size: $font-secondary;
    }
  }

  h1 {
    color: $color-tertiary;
  }

  main {
    width: 50rem;
    font-size: $font-secondary;
  }

  section {
    @include flexCenter;
    gap: 1rem;
  }
}

.link {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
}

.link:hover {
  @include buttonHover($color-tertiary);
}
