@import "mixins";
@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Creepster", cursive;
  font-size: 62.5%;
  background-color: lighten($color-secondary, 10%);
  color: $color-main;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
