// MIXINS

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin buttonHover($color) {
  transition: 0.3s;
  background-color: $color;
  color: $color-secondary;
  border-radius: 0.5rem;
}

@mixin mobile() {
  @media (max-width: 416px) {
    @content;
  }
}

@mixin pad() {
  @media (max-width: 970px) {
    @content;
  }
}

@mixin note() {
  @media (max-width: 1300px) {
    @content;
  }
}
