// MIXINS

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin buttonHover($color) {
  transition: 0.3s;
  background-color: $color;
  color: $color-secondary;
  border-radius: 0.5rem;
}

$breakpoints: (
  "xs": 0,
  "sm": 380px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin media-query($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
