// COLORS
$color-main: #fff;
$color-secondary: #000;
$color-tertiary: #df0909;
$color-quaternary: #808080;
$mixed-color: mix($color-secondary, $color-tertiary, 55%);

// FONT SIZE
$font-main: 4rem;
$font-secondary: 3rem;
$font-tertiary: 2rem;
$font-quaternary: 3.5rem;
